In [1]:
print("car")

car

In [2]:
print("Drift like a skyline")

Drift like a skyline

In [3]:
17 / 3

5.666666666666667

In [4]:
17 // 3

5

In [5]:
5 * 3 + 2

17

In [6]:
text = ('Put several strings within parentheses '
         'to have them joined together.')
text

'Put several strings within parentheses to have them joined together.'

In [7]:
print('G','F','G', sep='')

print('09','12','2016', sep='-')

print('pratik','geeksforgeeks', sep='@')

GFG
09-12-2016
pratik@geeksforgeeks

In [8]:
x=96
y=12
z=x/y
print(z)

8.0

In [9]:
3 * 'un' + 'ium'

'unununium'

In [10]:
a = ("Geeks", "for", "Geeks")
b = ["Geeks", "for", "Geeks"]
c = {"Geeks": 1, "for":2, "Geeks":3}
d = "Hello World"
e = 10.23
f = 11.22
 
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'tuple'>
<class 'list'>
<class 'dict'>
<class 'str'>
<class 'float'>
<class 'float'>

In [11]:
print(type([]) is list)

print(type([]) is not list)

print(type(()) is tuple)

print(type({}) is dict)

print(type({}) is not list)

True
False
True
True
True

In [12]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [2]:


num = input ("Enter number :")
print(num)
name1 = input("Enter name : ")
print(name1)


print ("type of number", type(num))
print ("type of name", type(name1))

50
Sage
type of number <class 'str'>
type of name <class 'str'>

In [3]:
a=int(input("Enter the number"))
b=int(input("Enter the number"))
sum=a+b
print(sum)

139

In [15]:
float(10)

10.0

In [16]:
int(100)

100

In [17]:
str("1000")

'1000'

In [18]:
chr(1000)

'Ï¨'

CH 5

In [5]:
num = int(input("enter the number?"))  
if num%2 == 0:  
    print("Number is even...")  
else:  
    print("Number is odd...")

Number is odd...

In [6]:
print("Enter a Number (Numerator): ")
numn = int(input())
print("Enter a Number (denominator): ")
numd = int(input())

if numn%numd==0:
  print("\n" +str(numn)+ " is divisible by " +str(numd))
else:
  print("\n" +str(numn)+ " is not divisible by " +str(numd))

Enter a Number (Numerator):
Enter a Number (denominator):

96 is divisible by 12

In [21]:
age = int(input("Enter age of a user: "))

if age >= 18:
    print("User is eligible for voting: ", age)
else:
    print("User is not eligible for voting: ", age)

User is eligible for voting:  55

In [22]:
x=float(input("Enter the value: "))
y=float(input("Enter the value:"))
z=x+y/2
print("The average of the number you have entered is :",z)

The average of the number you have entered is : 340.0

In [23]:

a2 = "GeeksforGeeks"
b2 = "geeks"
result2 = a2 == b2

print("result2")

result2

In [24]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [25]:
marks = int(input("Enter the marks? "))  
if marks > 85 and marks <= 100:  
   print("Congrats ! you scored grade A ...")  
elif marks > 60 and marks <= 85:  
   print("You scored grade B + ...")  
elif marks > 40 and marks <= 60:  
   print("You scored grade B ...")  
elif (marks > 30 and marks <= 40):  
   print("You scored grade C ...")  
else:  
   print("Sorry you are fail ?")

You scored grade B ...

In [26]:

count = 0
while (count < 3):
	count = count + 1
	print("Hello Geek")

Hello Geek
Hello Geek
Hello Geek

In [27]:

for i in range(5):
	print(i, end=" ")
print()

0 1 2 3 4

In [28]:

for i in range(5, 20):
	print(i, end=" ")

5 6 7 8 9 10 11 12 13 14 15 16 17 18 19

In [29]:

for i in range(0, 31, 3):
	print(i, end=" ")
print()

0 3 6 9 12 15 18 21 24 27 30

                                                                      CH-6

In [30]:

String1 = "GeeksForGeeks"
print("Initial String: ")
print(String1)


print("\nFirst character of String is: ")
print(String1[0])


print("\nLast character of String is: ")
print(String1[-1])

Initial String:
GeeksForGeeks

First character of String is:
G

Last character of String is:
s

In [31]:
a1="Name\t class \t section"
a2="JETT\t XII \t E"
print(a1)
print(a2)

Name	 class 	 section
JETT	 XII 	 E

In [32]:
s="""The miniature pet elephant became the envy of the neighborhood"""
print(s)

The miniature pet elephant became the envy of the neighborhood

In [33]:

String1 = "GeeksForGeeks"
print("Initial String: ")
print(String1)

print("\nSlicing characters from 3-12: ")
print(String1[3:12])

print("\nSlicing characters between " +
	"3rd and 2nd last character: ")
print(String1[3:-2])

Initial String:
GeeksForGeeks

Slicing characters from 3-12:
ksForGeek

Slicing characters between 3rd and 2nd last character:
ksForGee

In [34]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [35]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [36]:
txt = "The best things in life are free!"
print("free" in txt)

True

In [37]:
b = "Hello, World!"
print(b[-5:-2])

orl

In [38]:
a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [39]:
a = "Hello, World!"
print(a.lower())

hello, world!

In [40]:
a = " Hello, World! "
print(a.strip())

Hello, World!

In [41]:
a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [42]:
a = "Hello, World!"
print(a.split(","))

['Hello', ' World!']

In [43]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [44]:
txt = "hello, and welcome to my world."

x = txt.capitalize()

print (x)

Hello, and welcome to my world.

In [45]:
txt = "Hello, And Welcome To My World!"

x = txt.casefold()

print(x)

hello, and welcome to my world!

In [8]:
txt = "banana"

x = txt.center(50)

print(x)

                      banana

In [47]:
txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")

print(x)

2

In [48]:
txt = "Hello, welcome to my world."

x = txt.find("welcome")

print(x)

7

In [49]:
txt = "Hello, welcome to my world."

x = txt.index("welcome")

print(x)

7

In [50]:
txt = "I like bananas"

x = txt.replace("bananas", "apples")

print(x)

I like apples

In [51]:
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

hELLO mY nAME iS peter

In [52]:
txt = "CompanyX"

x = txt.isalpha()

print(x)

True

In [53]:


string_name = "Geeks"

for i, v in enumerate(string_name):
	print(v)

G
e
e
k
s

In [54]:

string_name = "geeksforgeeks"


for element in string_name[0:8:1]:
	print(element, end =' ')

g e e k s f o r

In [1]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [10]:
Var = ["Geeks", "for", "Geeks"]
print(Var)

['Geeks', 'for', 'Geeks']

In [9]:

List = [['Geeks', 'For'], ['Geeks']]


print("Accessing a element from a Multi-Dimensional list")
print(List[0][1])
print(List[1][0])

Accessing a element from a Multi-Dimensional list
For
Geeks

In [2]:

List1 = []
print(len(List1))

List2 = [10, 20, 14]
print(len(List2))

0
3

In [11]:

string = input("Enter elements (Space-Separated): ")


lst = string.split()
print('The list is:', lst)

The list is: ['54']

In [1]:

List = []
print("Initial blank List: ")
print(List)


List.append(1)
List.append(2)
List.append(4)
print("\nList after Addition of Three elements: ")
print(List)

Initial blank List:
[]

List after Addition of Three elements:
[1, 2, 4]

In [4]:
mylist = [1, 2, 3, 4, 5, 'Geek', 'Python']
mylist.reverse()
print(mylist)

['Python', 'Geek', 5, 4, 3, 2, 1]

In [2]:
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [3]:
thislist = list(("apple", "banana", "cherry")) 
print(thislist)

['apple', 'banana', 'cherry']

In [4]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [5]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[-4:-1])

['orange', 'kiwi', 'melon']

In [8]:
thislist = ["apple", "banana", "cherry"]
if "car" in thislist:
  print("Yes, 'apple' is in the fruits list")
else:
    print("Not in this list")

Not in this list

In [10]:
thislist = ["skyline", "Hotroad", "BMW36", "miata", "supra", "gtr"]
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['skyline', 'blackcurrant', 'watermelon', 'miata', 'supra', 'gtr']

In [11]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [12]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [14]:
thislist = ["apple", "Mustang", "gtr","skyline"]
for x in thislist:
  print(x)

apple
Mustang
gtr
skyline

In [15]:
thislist = ["Hellcat", "Mustang", "Skyline"]
i = 0
while i < len(thislist):
  print(thislist[i])
  i = i + 1

Hellcat
Mustang
Skyline

In [19]:
thislist = ["orange", "mango", "Vauxhall ", "BMW3", "Mazda MX-5"]
thislist.sort()
print(thislist)

['BMW3', 'Mazda MX-5', 'Vauxhall ', 'mango', 'orange']

In [21]:
thistuple = ("apple", "Nissan Figaro", "Nissan Silvia 200SX", "R35 Nissan GT-R", "Mazada")
print(thistuple)

('apple', 'Nissan Figaro', 'Nissan Silvia 200SX', 'R35 Nissan GT-R', 'Mazada')

In [12]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [14]:
thistuple = ("apple", "Nissan Figaro", "Nissan Silvia 200SX", "R35 Nissan GT-R", "Mazada")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'Nissan Figaro', 'Nissan Silvia 200SX', 'R35 Nissan GT-R', 'Mazada', 'orange')

In [24]:
thistuple = ("apple", "Nissan Figaro", "Nissan Silvia 200SX", "R35 Nissan GT-R", "Mazada")
for x in thistuple:
  print(x)

apple
Nissan Figaro
Nissan Silvia 200SX
R35 Nissan GT-R
Mazada

In [26]:
fruits = ("apple", "Nissan Figaro", "Nissan Silvia 200SX", "R35 Nissan GT-R", "Mazada")
mytuple = fruits * 2

print(mytuple)

('apple', 'Nissan Figaro', 'Nissan Silvia 200SX', 'R35 Nissan GT-R', 'Mazada', 'apple', 'Nissan Figaro', 'Nissan Silvia 200SX', 'R35 Nissan GT-R', 'Mazada')

In [15]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = thistuple.count(5)

print(x)

2

In [ ]:
thisdict={
    "Company":"MERCERDES",
    "Model":"gt3",
    "Year":3002
}
thisdict.update({"year":2018})
print(thisdict)

{'Company': 'MERCERDES', 'Model': 'gt3', 'Year': 3002, 'year': 2018}

In [ ]:
a="car","supra","skyline","gtr","R34"
for i in a:
    print(a)

('car', 'supra', 'skyline', 'gtr', 'R34')
('car', 'supra', 'skyline', 'gtr', 'R34')
('car', 'supra', 'skyline', 'gtr', 'R34')
('car', 'supra', 'skyline', 'gtr', 'R34')
('car', 'supra', 'skyline', 'gtr', 'R34')

In [16]:
a="car","supra","skyline","gtr","E34"
print(len(a))

5

In [ ]:
a="i am driving a skyline r34 with a v12 in it max turbo"
x=a.upper()
print(x)

I AM DRIVING A SKYLINE R34 WITH A V12 IN IT MAX TURBO

In [ ]:
score=int(input("Enter the value"))
if score >= 80:
    print("Grade A")
elif score >=70:
    print("Grade B")
elif score >=60:
    print("Grade C")
elif score>=50:
    print("Grade D")
else:
    print("Faill ")

Grade D

In [28]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

x = car.keys()

print(x) 

car["color"] = "white"

print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [30]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [31]:
for x in thisdict:
  print(thisdict[x])

Ford
Mustang

In [6]:
import camelcase

c = camelcase.CamelCase()

txt = "hello world"

print(c.hump(txt))

Hello World

In [7]:
import platform

x = dir(platform)
print(x)

['_Processor', '_WIN32_CLIENT_RELEASES', '_WIN32_SERVER_RELEASES', '__builtins__', '__cached__', '__copyright__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '__version__', '_comparable_version', '_component_re', '_default_architecture', '_follow_symlinks', '_get_machine_win32', '_ironpython26_sys_version_parser', '_ironpython_sys_version_parser', '_java_getprop', '_libc_search', '_mac_ver_xml', '_node', '_norm_version', '_os_release_cache', '_os_release_candidates', '_os_release_line', '_os_release_unescape', '_parse_os_release', '_platform', '_platform_cache', '_pypy_sys_version_parser', '_sys_version', '_sys_version_cache', '_sys_version_parser', '_syscmd_file', '_syscmd_ver', '_uname_cache', '_unknown_as_blank', '_ver_output', '_ver_stages', 'architecture', 'collections', 'freedesktop_os_release', 'functools', 'itertools', 'java_ver', 'libc_ver', 'mac_ver', 'machine', 'node', 'os', 'platform', 'processor', 'python_branch', 'python_build', 'python_compiler', 'python_implementation', 'python_revision', 'python_version', 'python_version_tuple', 're', 'release', 'sys', 'system', 'system_alias', 'uname', 'uname_result', 'version', 'win32_edition', 'win32_is_iot', 'win32_ver']

In [8]:
import math
math.sqrt(100)

10.0

In [10]:
import random
random.random()

0.1392734118449115

In [14]:
import random
random.randint(1,101)

97

In [ ]:
import random
random.choice([12,23,45,67,65,43])

In [16]:
numbers=[12,23,45,67,65,43]
random.shuffle(numbers)
numbers

[45, 43, 65, 67, 23, 12]

In [17]:
import math
math.pi

3.141592653589793

In [19]:
import time
time.time()

1674395797.419445

In [23]:
import math
math.log10(10)

22026.465794806703

In [24]:
import math
math.pow(4,4)

256.0

In [26]:
import math
math.sqrt(200)

14.142135623730951

In [27]:
import math
math.ceil(4.5847154)

5

In [28]:
import math
math.floor(4.6546846458645)

4

In [29]:
import math
math.sin(0.684346843516)

0.6321670597770247

In [30]:
import math
math.cos(0.5235987755982988)

0.8660254037844387

In [31]:
import math
math.tan(0.5235987755982988)

0.5773502691896257

In [34]:
import statistics
statistics.median([1,2,3,4,5])

3

In [22]:
import math as M  
Radius = float (input ("Please enter the radius of the given circle: "))  
area_of_the_circle = M.pi* Radius * Radius  
print (" The area of the given circle is: ", area_of_the_circle)

 The area of the given circle is:  201.06192982974676